.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-info {
    margin-right: 10px;
  }
  
  .delete-button {
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  